<!-- Sidebar -->
<aside class="col-sm-4 sidebar sidebar-right">

  <div class="widget">
    <h4>Так же будет полезно</h4>
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?152"></script>

    <!-- VK Widget -->
    <div id="vk_groups"></div>
    <script type="text/javascript">
        VK.Widgets.Group("vk_groups", {mode: 4, width: "390", height: "400", color2: '040202'}, 84908830);
    </script>

    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fpromowind%2F&tabs=timeline&width=390&height=400&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="390" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    <ul class="list-unstyled list-spaces">
      <li><a href="">Очень полезная ссылка</a><br><span class="small text-muted">Любая ссылка для сео или на нужную страницу</span>
      </li>
      <li><a href="">Totam, libero, quis</a><br><span class="small text-muted">Suscipit veniam debitis sed ipsam quia magnam eveniet perferendis nisi.</span>
      </li>
      <li><a href="">Enim, sequi dignissimos</a><br><span class="small text-muted">Reprehenderit illum quod unde quo vero ab inventore alias veritatis.</span>
      </li>
      <li><a href="">Suscipit, consequatur, aut</a><br><span class="small text-muted">Sed, mollitia earum debitis est itaque esse reiciendis amet cupiditate.</span>
      </li>
      <li><a href="">Nam, illo, veritatis</a><br><span class="small text-muted">Delectus, sapiente illo provident quo aliquam nihil beatae dignissimos itaque.</span>
      </li>
    </ul>
  </div>

</aside>
<!-- /Sidebar -->