<!-- Sidebar -->
<aside class="col-sm-4 sidebar sidebar-right">

  <div class="widget">
    <h4>Это интересно</h4>
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?152"></script>

    <!-- VK Widget -->
    <div id="vk_groups"></div>
    <script type="text/javascript">
        VK.Widgets.Group("vk_groups", {mode: 4, width: "390", height: "400", color2: '040202'}, 84908830);
    </script>

    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fpromowind%2F&tabs=timeline&width=390&height=400&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="390" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    <h4>Так же будет полезно</h4>
    <ul class="list-unstyled list-spaces">
      <% @articles_sample.each do |as| %>
        <li><%= link_to as.title, main_article_path(as) %>
          <br><span class="small text-muted"><%= as.description %></span>
        </li>
      <% end %>
    </ul>
  </div>

</aside>
<!-- /Sidebar -->