<div class="container text-center">

  <h2 class="thin">Поможем найти специалиста </h2>

  <p class="lead need_service">
    Поможем запустить эффективную рекламную кампанию <br> оставьте заявку нажав на кнопку
  </p>

  <div class="row">
  <a class="btn btn-warning" href="/promo_requests/new" data-turbolinks="false">Заказать рекламу</a>
  </div>
<br>
  <div class="row">
    <button class="btn btn-warning" sp-show-form="100582" style="background-color: #381ab0">Получить в подарок книгу</button>
  </div>


  <script src="//static-login.sendpulse.com/apps/fc3/build/loader.js" sp-form-id="a4a1b47b184374bdd01702229929684e706fa97a5329475520c30fd00b4cce88"></script>

</div>