<div class="content" style="min-height: 500px;     background-color: #F7F5F4;">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h4>Последние компании</h4>
        <%# 3.times do %>
         <% @companies.each do |company| %>
            <div class="media">
              <div class="row">
                <div class="col-md-8">
                  <a class="pull-left" href="#">
                    <%= image_tag company.logo.url(:thumb), class: 'media-object' %>
                  </a>
                  <div class="media-body" style="padding-left: 10px">
                    <h4 class="media-heading"><%= company.name %></h4>
                    Лучшая реклама в Вашем городе.
                    Возможно ещё какая то инфа
                  </div>
                </div>
                <div class="col-md-2">

                  <%= link_to 'Смотреть', adv_agency_path(company), class: 'btn btn-action btn-xs' %>

                </div>

              </div>
            </div>
            <div class="row" style="border-bottom: 1px solid #eee;padding-top: 5px"></div>
        <% end %>
        <% @companies %>
      </div>
      <div class="col-md-3">
        <h4>Новости</h4>
        <ul>
          <li>Название новости1</li>
          <li>Название новости2</li>
          <li>Название новости3</li>
        </ul>
        <a href="">Поделиться новостью</a>

        <h4>Отзывы</h4>
        <ul>
          <li>Отзыв1 Текст отзыва вот такой вот наверно </li>
          <li>Отзыв1 Текст отзыва вот такой вот </li>
          <li>Отзыв1 Текст отзыва вот такой вот </li>
        </ul>
        <a href="">Оставить отзыв</a>

        <h4>Почитать</h4>
        <ul>
          <li>Облако тегов </li>
          <li>Реклама PR</li>
          <li>BTL event маркетинг</li>
        </ul>
        <a href="">Все статьи</a>
      </div>
    </div>
  </div>
</div>