
<div class="jumbotron top-space">
  <div class="container">

    <h3 class="text-center thin" style="font-size: 30px">Зачем использовать сервис?</h3>

    <div class="row">
      <div class="col-md-3 col-sm-6 highlight">
        <div class="h-caption"><h4><i class="glyphicon glyphicon-send"></i>Быстро</h4></div>
        <div class="h-body text-center">
          <p>За несколько минут вы можете найти рекламного исполнителя наиболее соответствующего предпочтениям и текущему рекламному бюджету. Теперь нет необходимости тратить драгоценные для развития бизнеса часы на поиски и обзвон всех рекламных исполнителей своего города.
          </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 highlight">
        <div class="h-caption"><h4><i class="glyphicon glyphicon-usd"></i>Рентабельно</h4></div>
        <div class="h-body text-center">
          <p> Сервис соединяет представителей бизнеса и предпринимателей с рекламными исполнителями напрямую, минуя всевозможных посредников, что позволяет вам сократить стоимость выполнения рекламных работ и время на поиски подходящего рекламного партнера.  </p>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 highlight">
        <div class="h-caption"><h4><i class="glyphicon glyphicon-check"></i>Профессионально</h4></div>
        <div class="h-body text-center">
          <p>В любой момент вы можете посмотреть существующих клиентов выбранного рекламного исполнителя, изучить его выполненные проекты, ознакомиться с отзывами от покупателей работавших с ним в прошлом или оставить свой комментарий для будущих заказчиков.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 highlight">
        <div class="h-caption"><h4><i class="glyphicon glyphicon-thumbs-up"></i>Эффективно</h4></div>
        <div class="h-body text-center">
          <p>Все размещенные на сервисе исполнители подтверждают администраторам свой возраст, уровень компетенций и портфолио реализованных работ. Гарантируя объективность размещенной на сервисе информации об исполнителях мы увеличиваем лояльность потенциальных клиентов.
          </p>
        </div>
      </div>
    </div> <!-- /row  -->

  </div>
</div>

<div class="container text-center">
  <br> <br>
  <h2 class="thin">Для кого сервис?</h2>

  <br>
  <br>
  <p class="lead need_service">С помощью сервиса любая организация в мире, имеющая потребность в продвижении своего бизнеса, товара или услуг, может напрямую, минуя всевозможных посредников, оперативно найти и связаться с подходящим поставщиком определенных рекламных услуг в том или ином городе, тем самым сэкономив конечную стоимость рекламных работ и время на его поиски.
  </p>
  <p class="lead need_service">Сервис позволяет всем руководителям, маркетологам и менеджерам по рекламе, не только, за пару минут, подобрать подходящего рекламного исполнителя, который поможет вам эффективно, рентабельно и профессионально решить поставленные на текущий момент рекламные и маркетинговые задачи, но и быстро связаться с ним используя любой наиболее удобный канал коммуникаций: через Facebook, ВКонтакте, Whatsapp, e-mail или с помощью ip-телефонии. Так же вы можете оставить свою заявку на выполнение рекламных работ и сервис разошлет её всем зарегистрированным исполнителям, которые соответствуют указанному в заявке городу, бюджету и рекламной категории.
  </p>

  <p class="lead need_service">Требуется ли вам наружная реклама или радио реклама, интернет реклама или реклама в печатных изданиях, реклама в наиболее посещаемых ТРК города или вы ищите агентство занимающееся промо продвижением? Возможно вы находитесь в поиске типографии, подбираете маркетинговое агентство для проведения социологического опроса, а может быть вам необходимо найти агентства по изготовлению рекламных материалов или их монтажу?
  </p>

  <p class="lead need_service">Миссия сервиса — объединение всех рекламных исполнителей мира на единой площадке для презентации ими своих рекламных возможностей и построение эффективных рекламных коммуникаций между бизнесом и покупателями.
  </p>

  <p class="lead need_service">С нами вы всегда сможете найти качественного рекламного исполнителя!</p>

</div>