<div class="container text-center">
  <br> <br>
  <h2 class="thin">Сео Текст рассказывающий почему они зашли на этот сервис</h2>
  <p class="text-muted">
    Само описание сео текст наскольок этот сервис полезен для них и их бизнеса
  </p>
</div>
<div class="jumbotron top-space">
  <div class="container">

    <h3 class="text-center thin">Зачем Вам использовать сервис?</h3>

    <div class="row">
      <div class="col-md-3 col-sm-6 highlight">
        <div class="h-caption"><h4><i class="glyphicon glyphicon-send"></i>Быстро</h4></div>
        <div class="h-body text-center">
          <p>Вы сможете за 12 секунд выбрать рекламную компанию наиболее соответствующую вашим предпочтениям и
            бюджету. Теперь нет необходимости тратить драгоценные для развития бизнеса часы на обзвон всех рекламных
            агентств вашего города.
          </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 highlight">
        <div class="h-caption"><h4><i class="glyphicon glyphicon-usd"></i>Рентабельно</h4></div>
        <div class="h-body text-center">
          <p> Наш сервис связывает представителей бизнеса и предпринимателей с рекламными агентствами напрямую,
            минуя всевозможных посредников.
            Это позволяет сократить стоимость выполнения рекламных работ и время на поиски нужного рекламного
            агентства. </p>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 highlight">
        <div class="h-caption"><h4><i class="glyphicon glyphicon-check"></i>Профессионально</h4></div>
        <div class="h-body text-center">
          <p>В любой момент вы можете посмотреть клиентов выбранного рекламного агентства и изучить его кейсы. Можете
            оставить свой отзыв или ознакомиться с комментариями организаций, которые уже работали с выбранным рекламным
            агентством в будущем. </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 highlight">
        <div class="h-caption"><h4><i class="glyphicon glyphicon-thumbs-up"></i>Эффективно</h4></div>
        <div class="h-body text-center">
          <p>Все компании размещенные на нашем сервисе подтверждают его администраторам возраст своего
            рекламного бизнеса, уровень компетенций и портфолио реализованных работ.</p>
        </div>
      </div>
    </div> <!-- /row  -->

  </div>
</div>