<div class="container text-center">
  <br> <br>
  <h2 class="thin">Для кого нужен сервис?</h2>

  <br>
  <br>
  <p class="lead need_service">С помощью сервиса любая организация имеющая потребность в продвижении своего бизнеса сможет максимально быстро найти и связаться с поставщиком необходимых определенных рекламных услуг в нужном городе, взаимодействуя напрямую, минуя всевозможных посредников сэкономить конечную стоимость рекламных работ и время на поиски подходящего по параметрам рекламного контрагента.  </p>
  <p class="lead need_service">Сервис Promo Wind поможет руководителям, маркетологам и менеджерам по рекламе, за 12 секунд, подобрать для себя рекламное агентство позволяющее эффективно, рентабельно, быстро и профессионально решить поставленные на данный момент рекламные задачи.</p>

  <p class="lead need_service">Требуется ли вам наружная реклама или радио реклама, интернет реклама или реклама в печатных изданиях, реклама в наиболее посещаемых ТРК вашего города или вы ищите агентство занимающееся промо продвижением?</p>

  <p class="lead need_service">Возможно вы находитесь в поиске типографии, подбираете маркетинговое агентство для проведения социологического опроса, а может быть вам необходимо найти агентства по изготовлению рекламных материалов?</p>

  <p class="lead need_service">Только планируете рекламную кампанию и хотите пока приблизительно рассчитать стоимость рекламных услуг?</p>

  <p class="lead need_service">Миссия сервиса Promo Wind — объединение рекламных агентств на единой площадке для презентации своих рекламных возможностей и построение эффективных рекламных коммуникаций между самим бизнесом и его покупателями.</p>
  <p class="lead need_service">У нас вы всегда сможете найти качественного рекламного партнёра!</p>

</div>
<div class="jumbotron top-space">
  <div class="container">

    <h3 class="text-center thin" style="font-size: 30px">Зачем Вам использовать сервис?</h3>

    <div class="row">
      <div class="col-md-3 col-sm-6 highlight">
        <div class="h-caption"><h4><i class="glyphicon glyphicon-send"></i>Быстро</h4></div>
        <div class="h-body text-center">
          <p>Вы сможете за 12 секунд выбрать рекламную компанию наиболее соответствующую вашим предпочтениям и
            бюджету. Теперь нет необходимости тратить драгоценные для развития бизнеса часы на обзвон всех рекламных
            агентств вашего города.
          </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 highlight">
        <div class="h-caption"><h4><i class="glyphicon glyphicon-usd"></i>Рентабельно</h4></div>
        <div class="h-body text-center">
          <p> Наш сервис связывает представителей бизнеса и предпринимателей с рекламными агентствами напрямую,
            минуя всевозможных посредников.
            Это позволяет сократить стоимость выполнения рекламных работ и время на поиски нужного рекламного
            агентства. </p>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 highlight">
        <div class="h-caption"><h4><i class="glyphicon glyphicon-check"></i>Профессионально</h4></div>
        <div class="h-body text-center">
          <p>В любой момент вы можете посмотреть клиентов выбранного рекламного агентства и изучить его кейсы.
            Можете оставить свой отзыв или ознакомиться с комментариями организаций, которые уже работали с выбранным
            рекламным агентством в прошлом.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 highlight">
        <div class="h-caption"><h4><i class="glyphicon glyphicon-thumbs-up"></i>Эффективно</h4></div>
        <div class="h-body text-center">
          <p>Все компании размещенные на нашем сервисе подтверждают его администраторам возраст своего
            рекламного бизнеса, уровень компетенций и портфолио реализованных работ.</p>
        </div>
      </div>
    </div> <!-- /row  -->

  </div>
</div>