<div class="container">

  <h2 class="text-center top-space"> Часто задаваемые вопросы</h2>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <!--<blockquote>-->
      <!--<p>Клиенты</p>-->
      <!--</blockquote>-->
      <h3>В каком городе работают рекламные компании?</h3>
      <p>Развернутый ответ с ключевыми словами. Развернутый ответ с ключевыми словами.Развернутый ответ с ключевыми
        словами.Развернутый ответ с ключевыми словами.</p>
    </div>
    <div class="col-sm-6">
      <!--<blockquote>-->
      <!--<p>Компании</p>-->
      <!--</blockquote>-->
      <h3>С каким бюджетом работают рекламные компании?</h3>
      <p>
        Развернутый ответ с ключевыми словами. Развернутый ответ с ключевыми словами.Развернутый ответ с ключевыми
        словами.Развернутый ответ с ключевыми словами.</p>
    </div>
  </div> <!-- /row -->

  <div class="row">
    <div class="col-sm-6">

      <h3>Как убедиться в качестве услуг рекламных компаний?</h3>
      <p>Развернутый ответ с ключевыми словами. Развернутый ответ с ключевыми словами.Развернутый ответ с ключевыми
        словами.Развернутый ответ с ключевыми словами.</p>
    </div>
    <div class="col-sm-6">

      <h3>Как компания попадает на верхние позиции списка?</h3>
      <p>
        Развернутый ответ с ключевыми словами. Развернутый ответ с ключевыми словами.Развернутый ответ с ключевыми
        словами.Развернутый ответ с ключевыми словами.</p>
    </div>
  </div> <!-- /row -->

  <div class="jumbotron top-space">
    <h4>Что лучше: создать собственную рекламную службу или сотрудничать с рекламным агентством?

      На рынке вы можете встретить множество предложений от рекламных компаний, оказывающих услуги по продвижению.
      Важно не растеряться, и выбрать рекламное агентство, которое сможет максимально эффективно организовать
      рекламную деятельность вашей компании</h4>
    <p class="text-right"><%= link_to 'Читать дальше »', how_choose_advertising_path, class: 'btn btn-primary btn-large'%></p>
  </div>

</div>