<div class="container" id="faq">

  <h2 class="text-center top-space"> Часто задаваемые вопросы</h2>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <!--<blockquote>-->
      <!--<p>Клиенты</p>-->
      <!--</blockquote>-->
      <h3 class="text-muted">В каком городе работают представленные в сервисе рекламные компании?</h3>
      <p>На данный момент в сервисе могут абсолютно бесплатно разместить о себе информацию
        любые рекламные компании предоставляющие свои рекламные услуги на территории РФ и в странах СНГ.
      </p>
    </div>
    <div class="col-sm-6">
      <!--<blockquote>-->
      <!--<p>Компании</p>-->
      <!--</blockquote>-->
      <h3 class="text-muted">С каким бюджетом работают рекламные компании из сервиса?</h3>
      <p>
        При поиске рекламного подрядчика в форме бюджет можно указать хоть 500 рублей, хоть 500 тенге.
        Если на рынке интересующего вас города есть рекламные компании предоставляющие рекламные услуги в
        рамках запращиваемой суммы, сервис покажет наиболее подходящий в рамках бюджета список компаний.</p>
    </div>
  </div> <!-- /row -->

  <div class="row">
    <div class="col-sm-6">

      <h3 class="text-muted">Как убедиться в качестве услуг рекламных компаний?</h3>
      <p>Все анкеты рекламных компаний проходят тщательную проверку администраторами сервиса. Так же, каждая
        компания собирает отзывы от своих реальных заказчиков, к которым всегда можно обратиться, чтобы
        убедиться в достоверности отзывов и в профессионализме выбранного рекламного агентства.</p>
    </div>
    <div class="col-sm-6">

      <h3 class="text-muted">Как компания попадает на верхние строчки в списке?</h3>
      <p>
        В первую очередь учитывается попадает ли компания в рамки установленного бюджет, если да,
        то оценивается множество характеристик, в том числе общий возраст рекламной компании,
        общее количество выполненных услуг, срок исполнения последней работы, клиентский портфель,
        наличие презентации, отзывы, шарингы и другие показатели.</p>
    </div>
  </div> <!-- /row -->

  <div class="jumbotron top-space">
    <h4>Что лучше: создать собственную рекламную службу или сотрудничать с рекламным агентством?

      На рынке вы можете встретить множество предложений от рекламных компаний, оказывающих услуги по продвижению.
      Важно не растеряться, и выбрать рекламное агентство, которое сможет максимально эффективно организовать
      рекламную деятельность вашей компании</h4>
    <p class="text-right"><%= link_to 'Читать дальше »', how_choose_advertising_path, class: 'btn btn-primary btn-large'%></p>
  </div>

</div>