<div class="container" id="faq">
  <br>

  <h2 class="text-center thin"> Часто задаваемые вопросы</h2>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <!--<blockquote>-->
      <!--<p>Клиенты</p>-->
      <!--</blockquote>-->
      <h3 class="text-muted">В каком городе работают представленные исполнители?</h3>
      <p>На данный момент в сервисе могут абсолютно бесплатно разместить о себе информацию любые рекламные исполнители предоставляющие услуги на территории РФ и в странах СНГ.
      </p>
    </div>
    <div class="col-sm-6">
      <!--<blockquote>-->
      <!--<p>Компании</p>-->
      <!--</blockquote>-->
      <h3 class="text-muted">С каким бюджетом работают рекламные исполнители?</h3>
      <p>
        При поиске исполнителя в форме бюджет можно указать хоть 500 рублей, хоть 500 тенге, если на рынке интересующего города есть рекламные исполнители, предоставляющие свои услуги в рамках запрашиваемой суммы, то сервис покажет списком наиболее подходящих исполнителей.</p>
    </div>
  </div> <!-- /row -->

  <div class="row">
    <div class="col-sm-6">

      <h3 class="text-muted">Как убедиться в качестве услуг рекламных компаний?</h3>
      <p>Все анкеты рекламных исполнителей проходят тщательную проверку администраторами сервиса. Каждый исполнитель собирает отзывы от своих реальных заказчиков, у которых всегда можно убедиться в достоверности комментариев и в профессионализме выбранного исполнителя.</p>
    </div>
    <div class="col-sm-6">

      <h3 class="text-muted">Как исполнителю попасть на верхние строчки списка?</h3>
      <p>
        В первую очередь учитывается, соответствует ли исполнитель заявленному рекламному бюджету, его возраст, количество персонала, объем выполненных работ, клиентский портфель, наличие презентации, отзывы, шаринги и другие показатели влияющие на место в списке.</p>
    </div>
  </div> <!-- /row -->

  <div class="jumbotron top-space">
    <h4>Что лучше: создать собственную рекламную службу или сотрудничать с рекламным агентством?

      На рынке вы можете встретить множество предложений от рекламных компаний, оказывающих услуги по продвижению.
      Важно не растеряться, и выбрать рекламное агентство, которое сможет максимально эффективно организовать
      рекламную деятельность вашей компании. Существует несколько аспектов, на которые нужно обратить внимание в первую очередь.</h4>
    <p class="text-right"><%= link_to 'Читать дальше »', how_choose_advertising_path, class: 'btn btn-primary btn-large'%></p>
  </div>

</div>