<div class="container" id="faq">
  <br>

  <h2 class="text-center thin"> Часто задаваемые вопросы</h2>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <!--<blockquote>-->
      <!--<p>Клиенты</p>-->
      <!--</blockquote>-->
      <h3 class="text-muted">В каком городе работают представленные на сервисе исполнители?</h3>
      <p>На данный момент, бесплатно разместить о себе информацию, могут любые рекламные исполнители предоставляющие услуги совершенно в любом городе мира.
      </p>
    </div>
    <div class="col-sm-6">
      <!--<blockquote>-->
      <!--<p>Компании</p>-->
      <!--</blockquote>-->
      <h3 class="text-muted">С каким бюджетом работают исполнители?</h3>
      <p>
        При поиске исполнителя в форме бюджет можно указать и 1000 рублей, и 5000 тенге, если на рынке интересующего вас города есть исполнители, предоставляющие услуги в рамках этой суммы, то сервис покажет их списком от наименьшей величины.
      </p>
    </div>
  </div> <!-- /row -->

  <div class="row">
    <div class="col-sm-6">

      <h3 class="text-muted">Как убедиться в качестве услуг исполнителя?</h3>
      <p>
        Все анкеты проходят тщательную проверку администраторами сервиса. Все исполнители собирают отзывы от реальных покупателей, у которых всегда можно убедиться в достоверности комментариев и в профессионализме выбранного исполнителя.
      </p>
    </div>
    <div class="col-sm-6">

      <h3 class="text-muted">Как исполнитель попадает в верх списка?</h3>
      <p>
        При поиске учитываются такие показатели как: соответствует ли исполнитель заявленному бюджету, его опыт, количество сотрудников, объем реализованных проектов, клиентский портфель, наличие презентации, отзывы покупателей, шаринги и другие метрики.
      </p>
    </div>
  </div> <!-- /row -->

  <div class="jumbotron top-space">
    <h4>Что лучше: создать собственную рекламную службу или сотрудничать с рекламным агентством?

      На рынке вы можете встретить множество предложений от рекламных компаний, оказывающих услуги по продвижению.
      Важно не растеряться, и выбрать рекламное агентство, которое сможет максимально эффективно организовать
      рекламную деятельность вашей компании. Существует несколько аспектов, на которые нужно обратить внимание в первую очередь.</h4>
    <p class="text-right"><%= link_to 'Читать дальше »', how_choose_advertising_path, class: 'btn btn-primary btn-large'%></p>
  </div>

</div>