<div class="container">
  <div class="row">
    <header class="page-header">
      <h1 class="page-title">Политика компании в отношении обработки персональных данных</h1>
    </header>

  </div>
  <div class="row">
    <strong>1. Общие положения</strong>
    <p>
    1.1. Настоящая Политика обработки персональных данных (далее — Политика) разработана в соответствии с Федеральным
    законом от 27.07.2006 №152-ФЗ "О персональных данных" и определяет порядок обработки персональных данных и меры по
    обеспечению безопасности персональных данных о Пользователях, которую Индивидуальный предприниматель Рубцов Егор
    Игоревич ОГРНИП 307744833000020, ИНН 744813070334 (далее — Администрация) может получить во время использования ими
    портала, расположенного в сети Интернет по адресу: promowind.ru, (далее — Портал, Сайт).
    </p>

  <p> 1.2. Действующая редакция
    настоящей Политики размещена на сайте Администрации и доступна в сети Интернет по адресу:
    http://promowind.ru/agreement
  </p>
    <p>    1.3. Все Пользователи обязаны ознакомиться с текстом настоящей Политики.</p>
      <p> 1.4.Использование Портала в любой форме означает безоговорочное согласие Пользователя с условиями настоящей Политики и
    указанными в ней условиями обработки его персональной информации. В случае несогласия с условиями Политики
        Пользователь должен воздержаться от использования Портала.</p>
    <p>1.5. Политика (в том числе любая из её частей) может быть
    изменена Администрацией без какого-либо специального уведомления и без выплаты какой-либо компенсации в связи с
    этим. Новая редакция Политики вступает в силу с момента её размещения на сайте Администрации, размещённом в домене
      по адресу, указанному в п.1.2 Политики, если иное не предусмотрено новой редакцией Политики.</p>
    <p> 1.6. Принимая условия настоящей Политики, Пользователь выражает своё согласие на обработку Администрацией данных о Пользователе в целях,
    предусмотренных настоящей Политикой, а также на передачу данных о Пользователе третьим лицам в случаях,
      перечисленных в настоящей Политике.</p>
    <p>1.7. Использование Портала с помощью веб-браузера, который принимает данные из
    cookies, означает выражение согласия Пользователя с тем, что Администрация может собирать и обрабатывать данные из
    cookies в целях, предусмотренных настоящей Политикой, а также на передачу данных из cookies третьим лицам в случаях,
    перечисленных в настоящей Политике. Отключение и/или блокировка Пользователем опции веб-браузера по приёму данных из
    cookies означает запрет на сбор и обработку Администрацией данных из cookies в соответствии с условиями настоящей
      Политики конфиденциальности.</p>
    <p>1.8. По общему правилу Администрация не проверяет достоверность предоставляемой
      Пользователями персональной информации. </p>
    <strong>2. Состав информации о Пользователях, которую получает и обрабатывает Администрация</strong>

    <p>2.1.Настоящая Политика распространяется на следующие виды персональной информации:</p>
    <p>2.1.1. Персональная
    информация, размещаемая Пользователями, в т.ч. о себе самостоятельно при заполнении формы отправки сообщения, иная
    персональная информация, доступ к которой Пользователь предоставляет Администрации через веб-сайты или сервисы
    третьих лиц, или персональная информация, размещаемая Пользователями в процессе использования Портала. К
    персональной информации, полученной таким образом, могут относиться, в частности, фамилия, имя, отчество, номер
      телефона, адрес электронной почты Пользователя. Иная информация предоставляется Пользователем на его усмотрение.</p>
    <p>2.1.2. При регистрации на Cайте Пользователь предоставляет следующую информацию: фамилия, имя, адрес электронной
    почты, местоположение пользователя. Также Пользователями может быть предоставлена следующая информация, в т.ч. путём
    самостоятельного опубликования (размещения) на Сайте: • дата и место рождения, • гражданство, • реквизиты документа,
    удостоверяющего личность; • адрес места регистрации и проживания; • номера контактных телефонов; • место работы и
    занимаемая должность; • сведения о доходах; • сведения об образовании, повышении квалификации и переподготовке; •
    сведения о семейном положении и составе семьи; • сведения об интересующих Пользователя темах, направлениях обучающих
      мероприятий, тренингов; • сведения о посещаемых мероприятиях.</p>
    <p> 2.1.3. Запрещается предоставление Пользователем персональных данных третьих лиц без полученного от третьих лиц
    разрешения на такое распространение либо, если такие персональные данные третьих лиц не были получены самим
      Пользователем из общедоступных источников информации.</p>
    <p>2.1.4. Данные, автоматически передаваемые Порталу в процессе
    их использования с помощью установленного на устройстве Пользователя программного обеспечения, в т.ч. IPадрес,
    индивидуальный сетевой номер устройства (MAC-адрес, ID устройства), электронный серийный номер (IMEI, MEID),
    рекламный идентификатор Android (Google AID), данные из cookies, информация о браузере, операционной системе,
      времени доступа, поисковых запросах Пользователя. </p>
    <p>2.1.5. Данные, дополнительно предоставляемые Пользователями по
    запросу Администрации в целях выполнения обязательств Администрации перед Пользователями в отношении использования
    Портала. 2.1.6. Иная информация о Пользователях, сбор и/или обработка которой установлены Правилами пользования
      порталом (пользовательским соглашением)</p>
      <strong>3. Цели сбора и обработки информации о Пользователях</strong>
    <p> 3.1. Администрация осуществляет сбор и обработку только той информации о Пользователях, в т.ч. их персональных данных, которая
    необходима для выполнения обязательств Администрации, ответа на вопрос, заданный Пользователем при отправке
      сообщения с помощью Портала, а также исполнения обязательств, предусмотренных договором.</p>
    <p> 3.2. Администрация может использовать персональную информацию Пользователей для целей:</p>
    <p>3.2.1. идентификации стороны в рамках договоров между
      Пользователем и Администрацией.</p>  <p>3.2.2. предоставления Пользователям услуг с использованием Портала и дальнейшего
    совершенствования Портала, разработки новых сервисов и услуг.</p>  <p>3.2.3. информирования Пользователей посредством
    электронных и СМС-рассылок.о появлении новых материалов, акциях, специальных предложениях на Сайте, направления
    запросов, касающихся использования Портала.</p>  <p>3.2.4. осуществления деятельности по продвижению товаров и услуг. </p> <p> 3.2.5.
    выполнения маркетинговых задач, проведения статистических и иных исследований на основе обезличенных данных.</p>
    <p>3.3. Настоящим Пользователь выражает своё согласие на передачу персональной информации о нем партнёрам
      Администрации, третьим лицам в целях, предусмотренных п. 3.2 настоящей Политики конфиденциальности.</p> <p> 3.4. При
    необходимости использовать персональную информацию о Пользователе в целях, не предусмотренных настоящей Политикой,
    Администрация запрашивает согласие Пользователя на такие действия.</p>
    <strong> 4. Обработка информации о Пользователях</strong>
    <p>4.1.Персональная информация о Пользователях хранится в соответствии с действующим законодательством.</p> <p> 4.2. Персональная
    информация о Пользователях не передаётся третьим лицам, за исключением следующих случаев: 4.2.1. Пользователь
    выразил согласие на такие действия.</p> <p> 4.2.2. Передача необходима в целях обеспечения функционирования Портала и/или
    его отдельных функциональных возможностей.</p> <p> 4.2.3. Передача предусмотрена применимым правом.</p> <p> 4.2.4. В целях
    обеспечения возможности защиты прав и законных интересов Администрации и/или третьих лиц в случаях, когда
    Пользователь нарушает условия договора. </p> <p>4.2.5. Если Администрация примет участие в слиянии, приобретении или любой
    другой форме продажи части или всех своих активов. При этом к приобретателю активов Администрации переходят все
    обязательства по соблюдению условий настоящей Политики.</p> <p> 4.3. Пользователь настоящим уведомлен и соглашается, что
    Администрация может получать персональные данные третьих лиц, которые предоставляются Пользователем при
    использовании Портала и использовать их для реализации отдельных функций Портала, при условии, что Пользователь
    гарантирует наличие согласия третьих лиц, данные о которых предоставляются Пользователем при использовании Портала,
    на обработку Администрацией, в целях, предусмотренных настоящей Политикой, а также на передачу таких данных в
    случаях, перечисленных в настоящей Политике. </p> <p>4.4. Кроме того, Пользователь
    настоящим уведомлен и соглашается, что Администрация может получать статистические обезличенные (без привязки к
    Пользователю) данные о действиях Пользователя при использовании Портала.</p> <p> 4.5. Пользователи вправе по запросу
    получать от Администрации информацию, касающуюся обработки их персональных данных.</p>
    <strong>5. Обеспечение безопасности персональных данных </strong>
    <p> 5.1. Безопасность персональных данных, обрабатываемых Администрацией, обеспечивается реализацией
    правовых, организационных и технических мер, необходимых для обеспечения требований федерального законодательства в
      области защиты персональных данных.</p> <p> 5.2. К мерам, указанным в п.5.1 Политики, относятся, в частности, следующие
    меры: • внутренняя проверка процессов сбора, хранения и обработки данных и мер безопасности, включая меры по
    обеспечению физической безопасности данных для предотвращения неавторизированного доступа к персональной информации.
    • назначение должностных лиц, ответственных за организацию обработки и защиты персональных данных; • ограничение
    состава лиц, имеющих доступ к персональным данным; • ознакомление работников Администрации с требованиями
    федерального законодательства и нормативных документов Администрации по обработке и защите персональных данных; •
    иные меры.</p>

    <strong> 6. Заключительные положения</strong>
    <p>  6.1. Иные права и обязанности Администрации как оператора персональных данных
      определяются законодательством Российской Федерации в области персональных данных.</p> <p> 6.2. Должностные лица
    Администрации, виновные в нарушении норм, регулирующих обработку и защиту персональных данных, несут материальную,
    дисциплинарную, административную, гражданско-правовую или уголовную ответственность в порядке, установленном
    федеральными законами.</p>  <p>6.3. Пользователи вправе направлять Администрации запросы, предложения или вопросы,
    касающиеся настоящей Политики, на электронную почту: promowindin@gmail.com</p> <p> 6.4. Действующая редакция настоящей
    Политики размещена на сайте Администрации и доступна в сети Интернет по адресу: http://promowind.ru/agreement</p>

    <strong> Версии документов для печати:</strong><br>
    <%= link_to 'Пользовательское соглашение', 'termsofuse.pdf', target: "_blank" %> <br>
    <%= link_to 'Политика компании в отношении обработки персональных данных', 'policy.pdf', target: "_blank" %>
  </div>
</div>