<header id="head" style="background:#181015 url(<%= image_url('bg_header.jpg') %>) no-repeat;background-size: cover; min-height:520px; text-align: center;padding-top:240px;
    color:white; font-weight:300">
  <div class="container">
    <div class="row">
      <h1 class="lead">Быстрая рекламная помощь Вашему бизнесу</h1>
      <p class="tagline">Найди подходящего рекламного партнёра в 2 клика</p>
      <%= render 'search_form' %>
    </div>
  </div>
</header>


<div class="content" style="min-height: 500px;     background-color: #F7F5F4;">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h4>Подходящие компании</h4>
        <% 5.times do %>
            <div class="media">
              <div class="row">
                <div class="col-md-8">
                  <a class="pull-left" href="#">
                    <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">
                  </a>
                  <div class="media-body" style="padding-left: 10px">
                    <h4 class="media-heading">ООО "Ромашка Профи" </h4>
                    Лучшая реклама в Вашем городе.
                    Возможно ещё какая то инфа
                  </div>
                </div>
                <div class="col-md-2">

                  <%= link_to 'Смотреть', root_path, class: 'btn btn-action btn-xs' %>

                </div>

              </div>
            </div>
            <div class="row" style="border-bottom: 1px solid #eee;padding-top: 5px"></div>
        <% end %>
        <% @companies %>
      </div>
      <div class="col-md-3">
        <h4>Новости</h4>
        <ul>
          <li>Название новости1</li>
          <li>Название новости2</li>
          <li>Название новости3</li>
        </ul>
        <a href="">Поделиться новостью</a>

        <h4>Отзывы</h4>
        <ul>
          <li>Отзыв1 Текст отзыва вот такой вот наверно </li>
          <li>Отзыв1 Текст отзыва вот такой вот </li>
          <li>Отзыв1 Текст отзыва вот такой вот </li>
        </ul>
        <a href="">Оставить отзыв</a>

        <h4>Почитать</h4>
        <ul>
          <li>Облако тегов </li>
          <li>Реклама PR</li>
          <li>BTL event маркетинг</li>
        </ul>
        <a href="">Все статьи</a>
      </div>
    </div>
  </div>
</div>

<div class="container text-center">
  <br> <br>
  <h2 class="thin">Сео Текст рассказывающий почему они зашли на этот сервис</h2>
  <p class="text-muted">
    Само описание сео текст наскольок этот сервис полезен для них и их бизнеса
  </p>
</div>

<div class="jumbotron top-space">
  <div class="container">

    <h3 class="text-center thin">Описание сервиса по функционалу для сео</h3>

    <div class="row">
      <div class="col-md-3 col-sm-6 highlight">
        <div class="h-caption"><h4><i class="glyphicon glyphicon-send"></i>Быстрый поиск</h4></div>
        <div class="h-body text-center">
          <p>Сео текст про очень быстрый поиск рекламных компаний и тд. А может и ещё что то. Нужно будет отдельно
            продумать с ключевыми словами.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 highlight">
        <div class="h-caption"><h4><i class="glyphicon glyphicon-usd"></i>Экономия</h4></div>
        <div class="h-body text-center">
          <p> Сео текст с включениями слов дешево реклама и тд. Пару слов от том что выгоднее. А может и ещё что то.
            Нужно будет отдельно продумать с ключевыми словами. </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 highlight">
        <div class="h-caption"><h4><i class="glyphicon glyphicon-star-empty"></i>Качество</h4></div>
        <div class="h-body text-center">
          <p>Только компании, прошедшие проверку специалистов. А может и ещё что то. Нужно будет отдельно продумать с
            ключевыми словами</p>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 highlight">
        <div class="h-caption"><h4><i class="glyphicon glyphicon-info-sign"></i>Всё о рекламе</h4></div>
        <div class="h-body text-center">
          <p>База знаний. У нас Вы узнаете о новоинка в рекламной бизнесе.А может и ещё что то. Нужно будет отдельно
            продумать с ключевыми словами </p>
        </div>
      </div>
    </div> <!-- /row  -->

  </div>
</div>

<div class="container">

  <h2 class="text-center top-space"> Часто задаваемые вопросы(для сео)</h2>
  <br>

  <div class="row">
    <div class="col-sm-6">
      <blockquote>
        <p>Клиенты</p>
      </blockquote>
      <h3>Какой нить нужный вопрос по сервису?</h3>
      <p>Развернутый ответ с ключевыми словами. Развернутый ответ с ключевыми словами.Развернутый ответ с ключевыми
        словами.Развернутый ответ с ключевыми словами.</p>
    </div>
    <div class="col-sm-6">
      <blockquote>
        <p>Компании</p>
      </blockquote>
      <h3>Какой нить нужный вопрос по сервису?</h3>
      <p>
        Развернутый ответ с ключевыми словами. Развернутый ответ с ключевыми словами.Развернутый ответ с ключевыми
        словами.Развернутый ответ с ключевыми словами.</p>
    </div>
  </div> <!-- /row -->

  <div class="row">
    <div class="col-sm-6">

      <h3>Какой нить нужный вопрос по сервису?</h3>
      <p>Развернутый ответ с ключевыми словами. Развернутый ответ с ключевыми словами.Развернутый ответ с ключевыми
        словами.Развернутый ответ с ключевыми словами.</p>
    </div>
    <div class="col-sm-6">

      <h3>Какой нить нужный вопрос по сервису?</h3>
      <p>
        Развернутый ответ с ключевыми словами. Развернутый ответ с ключевыми словами.Развернутый ответ с ключевыми
        словами.Развернутый ответ с ключевыми словами.</p>
    </div>
  </div> <!-- /row -->

  <div class="jumbotron top-space">
    <h4>Инфа как правильно выбирать рекламу или что то типа. Здесь нужной великолепный текст чтобы заинтересовать
      пользователей, который ведёт на какую нить страницу, возможно статью или особую комерческую страницу с ключевыми
      статьями. Также для поисковой выдачи, проработать отдельно</h4>
    <p class="text-right"><%= link_to 'Читать дальше »', how_choose_advertising_path, class: 'btn btn-primary btn-large'%></p>
  </div>

</div>

