<div class="container">

  <ol class="breadcrumb">
    <li><a href="/">На главную</a></li>
    <li class="active"><%= link_to 'Все статьи', main_articles_path %></li>
  </ol>
  <header class="page-header">
    <h1 class="page-title">Статьи</h1>
  </header>
  <% @articles.each do |article| %>
  <div class="row" style="padding-bottom: 30px">

    <div class="col-md-3"><%= image_tag article.logo, class: 'img-rounded pull-left', width: 300 %></div>
    <div class="col-md-9">
      <h3><%= link_to article.title, main_article_path(article.id)  %></h3>
      <p> <%= article.description %></p>
    </div>

  </div>
   <% end %>
</div>