<div class="container">

  <ol class="breadcrumb">
    <li><a href="/">На главную</a></li>
    <li class="active"><%= link_to 'Все статьи', main_articles_path %></li>
  </ol>

  <div class="row">

    <!-- Article main content -->
    <div class="col-sm-8 maincontent">
      <header class="page-header">
        <h1 class="page-title"><%= @article.title %> </h1>
      </header>

      <h3>О выборе</h3>
      <p>
        <%= image_tag @article.logo.url(:medium), class: 'img-rounded pull-right', width: 300 %>
        <%= h(@article.body).gsub(/\n/, '<br/>').html_safe %>
      </p>

      </article>
      <!-- /Article -->
    </div>
    <!-- Sidebar -->
    <aside class="col-sm-4 sidebar sidebar-right">

      <div class="widget">
        <h4>Так же будет полезно</h4>
        <ul class="list-unstyled list-spaces">
          <li><a href="">Очень полезная ссылка</a><br><span class="small text-muted">Любая ссылка для сео или на нужную страницу</span>
          </li>
          <li><a href="">Totam, libero, quis</a><br><span class="small text-muted">Suscipit veniam debitis sed ipsam quia magnam eveniet perferendis nisi.</span>
          </li>
          <li><a href="">Enim, sequi dignissimos</a><br><span class="small text-muted">Reprehenderit illum quod unde quo vero ab inventore alias veritatis.</span>
          </li>
          <li><a href="">Suscipit, consequatur, aut</a><br><span class="small text-muted">Sed, mollitia earum debitis est itaque esse reiciendis amet cupiditate.</span>
          </li>
          <li><a href="">Nam, illo, veritatis</a><br><span class="small text-muted">Delectus, sapiente illo provident quo aliquam nihil beatae dignissimos itaque.</span>
          </li>
        </ul>
      </div>

    </aside>
    <!-- /Sidebar -->

  </div>
</div>