<p id="notice"><%= notice %></p>

<h1>Компании</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Название</th>
    <th>Статус</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td>
          <% if company.verified? %>
              <span class="label label-success">Подтверждена</span>
          <% else %>
              <span class="label label-danger">Не подтверждена</span>
          <% end %>
        </td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>


