<p id="notice"><%= notice %></p>
<h1 class="page-header">Модераторы</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Имя(логин)</th>
    <th>Статус</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @admins.each do |admin| %>
      <tr>
        <td><%= admin.email %></td>
        <td>
          <!--<%# if company.verified? %>-->
              <!--<span class="label label-success">Подтверждена</span>-->
          <!--<%# else %>-->
              <!--<span class="label label-danger">Не подтверждена</span>-->
          <!--<%# end %>-->
          Админ
        </td>
        <!--<td><%#= link_to 'Edit', edit_company_path(company) %></td>-->
        <!--<td><%#= link_to 'Destroy', company, method: :delete, data: {confirm: 'Are you sure?'} %></td>-->
      </tr>
  <% end %>
  </tbody>
</table>

<br>