<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Зарегистрировалась новая компания</h1>
<p>
  <%= link_to 'Проверить', companies_admins_url %>
</p>
<p>
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>