<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Здравствуйте, коллеги.</h1>
<p>
  Информируем вас о том, что к сервису быстрого поиска рекламных исполнителей присоединился
  новый специалист <%= @company.name%>.
  Региональный охват:       <% @company.cities.each do |city| %>
    <%= city.name + "#{',' if city != @company.cities.last && @company.cities.count > 1}" %>
  <% end %>
</p>
<p>
  Знаете организацию или человека, которым необходимы услуги и компетенции этого
  специалиста?
</p>
<p>Отправьте ему карточку исполнителя в любую из социальных сетей или мгновенно свяжите их
  с помощью виджета быстрой обратной связи <%= adv_agency_url(@company) %></p>
<p>
  <%= link_to 'Для активации дополнительных функций перейдите в раздел', payment_company_url(@company) %>
</p>
<p>С уважением, сервис быстрого поиска рекламных исполнителей PromoWind.ru
  Телефон для консультаций и технической поддержки +74951280852
</p>
</body>
</html>