<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Поздравляем. Ваш аккаунт подтвержден модераторами и прямо сейчас вы можете начинать получать рекламные заявки от пользователей нашего сервиса.</h1>
<p>
  Внимание, активировав премиум аккаунт вы зафиксируете свою позицию на главной странице, откроете посетителям все контакты, включите кнопку мгновенной связи с клиентами, получите возможность публиковать экспертные статьи и начнете получать рекламные заявки раньше остальных исполнителей.

</p>
<p>
  <%= link_to 'Для активации премиум аккаунта перейдите в раздел', payment_company_url(@company) %>
</p>
<p>С уважением, сервис быстрого поиска рекламных исполнителей PromoWind.ru
  Телефон для консультаций и технической поддержки +74951280852
</p>
</body>
</html>