<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Новая заявка на сайте PromoWind.ru</h1>
<p>
  Просчитайте пожалуйста новую заявку в г. <%= @promo_request %>, для этого,
  в личном кабинете выберите заявку в свободном статусе и нажмите на кнопку Взять в обработку


</p>
<p>
  Ознакомиться с информацией можно по <%= link_to 'ссылке', main_promo_requests_url %>
</p>
<p>С уважением, сервис быстрого поиска рекламных исполнителей <%= link_to 'PromoWind.ru', root_url %></p>
</body>
</html>