<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Поздравляем. Ваш аккаунт подтвержден модераторами и прямо сейчас вы можете начинать получать рекламные заявки от пользователей нашего сервиса.</h1>
<p>
  Активировав в разделе платежи премиум аккаунт вы не только зафиксируете свою компанию на главной странице, раскроете полностью свои контактные данные
  заинтересованным в ваших услугах посетителям, начнете получать рекламные заявки на 1 час раньше конкурентов, но и запустите на своей странице виджет быстрой обратной связи, а так же получите возможность публиковать экспертные статьи с гиперссылками на свои сайты и ресурсы.
</p>
<p>
  <%= link_to 'Нажмите на эту ссылку чтобы перейти в раздел платежи', payment_company_url(@company) %>
</p>
<p>С уважением, сервис быстрого поиска рекламных исполнителей PromoWind.ru
  Телефон для консультаций и технической поддержки +74951280852
</p>
</body>
</html>