<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Поздравляем!</h1>
<p>
  Ваш аккаунт подтвержден модераторами и прямо сейчас все посетители сервиса могут
  найти вашу карточку исполнителя воспользовавшись удобной формой поиска,
  а так же вы уже можете получать от них подходящие рекламные запросы.
</p>
<p>

  Обратите внимание, активировав в разделе премиум аккаунт дополнительные функции сервиса вы сможете зафиксировать
  карточку исполнителя на главной странице, раскроете все контактные данные, активируете виджет быстрой обратной связи,
  получите возможность публиковать экспертные статьи с гиперссылками и начнете получать рекламные заявки на 60 минут раньше остальных исполнителей.
</p>
<p>
  <%= link_to 'Для активации дополнительных функций перейдите в раздел', payment_company_url(@company) %>
</p>
<p>С уважением, сервис быстрого поиска рекламных исполнителей PromoWind.ru
  Телефон для консультаций и технической поддержки +74951280852
</p>
</body>
</html>