<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Новая заявка #<%= @promo_request.id %></h1>
<p>
Новая заявка<br>
От: <%= @promo_request.name %> <br>
Город:  <%= @promo_request.town %>

</p>
<p>
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>