<h1 class="page-header">Руководство пользователя</h1>
<div class="row">
  <div class="col-md-12">
    <span class="label label-warning">На это странице Вы узнаете как пользоваться сервисом PromoWind</span>
  </div>
</div>

<h2 class="sub-header">Информация о сервисе</h2>
<p>
  Сервис предоставляет возможность любому человеку находящемуся в поиске исполнителя каких либо рекламных услуг,
  максимально быстро найти оптимально подходящего по своим параметрам рекламного поставщика для запуска и реализации
  своей рекламной кампании.

</p>

<h2 class="sub-header">Как поднять компанию в рейтинге</h2>
<p>
  Добавляя в разделе наши проекты свои старые или новые реализованные рекламные кампании, вы не только поднимаете выше
  свою компанию в общем рейтинге, который влияет на позицию вашей компании при поисковой выдачи, но и автоматически
  публикуете новость на первой странице с ссылкой на вашу компанию.

</p>

<h2 class="sub-header">Возможности премиум-аккаунта</h2>
<p>
  Премиум-аккаунт дает возможность открыть свои контактные данные всем потенциальным покупателям, которые ищут ваши
  рекламные услуги на нашем сервисе.

</p>
<p>
  Вы начнете получать на рабочую почту запросы от заинтересованных в ваших услугах клиентов, сразу же после того, как
  они оставят заявку на рекламные услуги в вашем городе, которую вы можете подтвердить в течении 60 минут после её
  размещения, в дальнейшем заявка открывается всем остальным зарегистрированным на сервисе рекламным компаниям.</p>
<p>
  Сможете комментировать отзывы оставленные реальными покупателями в адрес вашей компании (все отзывы тщательно
  проверяются администраторами нашего сервиса), а так же публиковать свои экспертные статьи с содержанием ссылок на
  собственные ресурсы.

</p>

<h2 class="sub-header">Как получить премиум-аккаунт
</h2>
<p>
  Приобрести премиум-аккаунт вы можете в разделе оплаты, нажав на кнопку оплатить премиум-аккаунт или указав
  активирующий подписку промо код.
</p>