<h1 class="page-header">Руководство пользователя</h1>
<div class="row">
  <div class="col-md-12">
    <span class="label label-warning">На это странице Вы узнаете как пользоваться сервисом PromoWind</span>
  </div>
</div>

<h2 class="sub-header">Информация 1</h2>
<p>
  Довольно часто случается, что важный и нужный интернет-ресурс становится недоступен.
  Сайты закрываются, реструктурируются, обновляются, и важная информация пропадает.
  Для Википедии это чревато тем, что информация в статьях становится непроверяемой.
  Исправить эту проблему призваны службы и сервисы
</p>

<h2 class="sub-header">Как обновить данные</h2>
<p>
  Довольно часто случается, что важный и нужный интернет-ресурс становится недоступен.
  Сайты закрываются, реструктурируются, обновляются, и важная информация пропадает.
  Для Википедии это чревато тем, что информация в статьях становится непроверяемой.
  Исправить эту проблему призваны службы и сервисы
</p>

<h2 class="sub-header">Что даёт премиум-аккаунт</h2>
<p>
  Довольно часто случается, что важный и нужный интернет-ресурс становится недоступен.
  Сайты закрываются, реструктурируются, обновляются, и важная информация пропадает.
  Для Википедии это чревато тем, что информация в статьях становится непроверяемой.
  Исправить эту проблему призваны службы и сервисы
</p>

<h2 class="sub-header">Как оплатить</h2>
<p>
  Довольно часто случается, что важный и нужный интернет-ресурс становится недоступен.
  Сайты закрываются, реструктурируются, обновляются, и важная информация пропадает.
  Для Википедии это чревато тем, что информация в статьях становится непроверяемой.
  Исправить эту проблему призваны службы и сервисы
</p>