<p id="notice"><%= notice %></p>
<h1 class="page-header">Статистика</h1>
<div class="row">
  <div class="col-md-12">
    <span class="label label-warning">Информация по просмотрам Вашей компании и прочая информация</span>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    Количество отзывов: <%= @company.reviews.count %> <br>
    Количество просмотров: Нет данных <br>

  </div>
</div>