<p id="notice"><%= notice %></p>
<h1 class="page-header">Статистика</h1>
<div class="row">
  <div class="col-md-12">
    <span class="label label-warning">Основные показатели коммуникаций</span>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">

    Количество посещений: Нет данных <br>
    Количество заявок: <%= @company.promo_requests.count %> <br>
    Количество отзывов: <%= @company.reviews.count %> <br>
    Количество проектов: <%= @company.projects.count %><br>

  </div>
  <iframe width="1280" height="960" src="https://datastudio.google.com/embed/reporting/1r7S1InT4KJcYytpO1CIvhZwYGteog59/page/AvQ1" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>