<div class="container">
  <div style="text-align: center">
    <%= image_tag 'errors.jpg',:height => "18%", :width => "18%" %>
  </div>
  <h1 style="text-align: center">Невозможно обработать</h1>
  <p style="text-align: center; margin-left: 20%; margin-right: 20%">Извините, эта страница недоступна. Наша команда разработчиков автоматически была уведомлена об этой проблеме. Пожалуйста, повторите свою попытку через несколько минут. В то же время, вот ссылка на то, что вы делали до того, как это произошло. Если у вас есть дополнительные вопросы, обратитесь в справочную службу, которая будет рада вам помочь</p>
  <div style="text-align: center">
    <%= link_to "Оставить запрос", new_promo_request_url, class: 'btn btn-warning'  %>
    <%= link_to "На главную", root_path, class: 'btn btn-warning'  %>
    <%= link_to 'Присоединиться', new_company_registration_path, class: 'btn btn-warning' %>
  </div>
</div>
