<p>
  Спасибо за регистрацию в сервисе быстрого поиска рекламных исполнителей!</p>
<p>Активировав аккаунт в личном кабинете необходимо заполнить следующее:</p>
<ol>
  <li> Указать название и слоган, загрузить логотип или картинку.</li>
  <li> Установить минимальную сумму заказа при сотрудничестве.</li>
  <li> Выбрать специализации и описать текущую деятельность.</li>
  <li> Отметить регионы в которых вы можете начать работы.</li>
  <li> Желательно загрузить фотографии подтверждающие опыт.</li>
</ol>



<p><%= link_to 'Нажмите на эту ссылку чтобы активировать аккаунт и заполнить профиль', confirmation_url(@resource, confirmation_token: @token) %></p>

С уважением, сервис быстрого поиска рекламных исполнителей PromoWind.ru
Телефон для консультаций и технической поддержки +74951280852
