<p>Спасибо за регистрацию в сервисе быстрого поиска рекламных исполнителей!</p>
<p>Активировав аккаунт в личном кабинете необходимо заполнить следующее:</p>
<ul>
  <li>1) Добавить картинку или логотип компании.</li>
  <li>2) Указать название компании, её девиз или слоган.</li>
  <li>3) Определить минимальный уровень бюджета с которым вы готовы работать.</li>
  <li>4) В специализации компании отметить основные рекламные компетенции.</li>
  <li>5) Выбрать города на территории которых вы можете оказывать работу или услуги.</li>
  <li>6) В описании деятельности лучше рассказать немного о самой компании.</li>
  <li>7) В разделе наши проекты можно загрузить фотографии выполненных работ.</li>
</ul>


<p><%= link_to 'Нажмите на эту ссылку чтобы активировать аккаунт и заполнить профиль', confirmation_url(@resource, confirmation_token: @token) %></p>

С уважением, сервис быстрого поиска рекламных исполнителей PromoWind.ru
Телефон для консультаций и технической поддержки +74951280852
